#page {
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-areas:
      "nav  main"
      "nav  main";
    grid-template-rows: 1fr 920px;
    grid-template-columns: 700px 1fr;
  }
  
  
  #page > nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffa08c;

  }
  
  #page > canvas {
    grid-area: main;
    background-image: url("https://github.com/ViniBilck/vinibilck.github.io/blob/main/grid.png?raw=true");
  }
  
  #page > nav div {
    align-items: center;
    padding: 8px 100px;
  }

main{
    align-content: center;
}

